{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Change Password</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">


            <form id="login-form" method="post" action="{% url 'change password' request.user.id %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </form>


        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}